.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.section + .section {
  border-top: 1px solid #1d3b63;
}

.section__title {
  margin-bottom: 40px;
  font-size: 44px;
  font-weight: 600;
  color: #edf4ff;
}
